             /* start css for main template*/
                                    .col-fhs-main-body{
                                        background-color : transparent;
                                    }
                                    .main{
                                        margin-top: 10px;
                                    }
                                    /*end css for main template*/
                                    /*  ****** Responsive Table ***** */
                                    .table-order-container {
                                        color: #616161;
                                        display: table;
                                        margin: 0 0 1em 0;
                                        width: 100%;
                                        border-collapse: collapse;
                                    }
                                    .table-order-container span.price{
                                        font-family: sans-serif;
                                    }
                                    .table-order-container .table-order-row {
                                        display: table-row;
                                        border-bottom: 1px solid #E0E0E0;
                                    }
                                    .table-order-container .table-order-row.table-order-header {
                                        font-weight: 700;
                                        background: white;
                                        font-size: 16px;
                                    }

                                    .table-order-container .table-order-cell {
                                        display: table-cell;
                                        padding: 15px 5px;
                                        font-size: 14px;
                                    }
                                    .table-order-link-more{
                                        color: #F7941E;
                                        text-align: center;
                                        cursor: pointer;
                                    }
                                    .table-order-link-id:hover{
                                        color: #F7941E;
                                        cursor: pointer;
                                    }
                                    .order-history-date-mobile,.order-history-person-mobile,.order-history-total-mobile,.order-history-status-mobile{
                                        display : none;
                                    }
                                    .order-history-status-warning{
                                        color: #DC3545;
                                    }
                                    @media screen and (max-width: 992px) {
                                        /* start css for main template*/
                                        .col-fhs-main-body,.container{
                                            padding : 0px;
                                        }
                                        /* end css for main template*/
                                        .table-order-container {
                                            display: block;
                                        }
                                        .table-order-container .table-order-row {
                                            display: block;
                                            padding: 10px 0px;
                                        }
                                        .table-order-container .table-order-cell {
                                            display: block;
                                            padding: 0px 10px;
                                        }
                                        .table-order-container .table-order-row.table-order-header{
                                            display : none;
                                        }
                                        .tab-history-item-text{
                                            font-size: 1em;
                                        }
                                        .order-history-date-mobile,.order-history-person-mobile,.order-history-total-mobile{
                                            display: unset;
                                            float: left;
                                            margin-right: 5px;
                                            font-size: 12px;
                                            margin-top: 2px;
                                        }
                                        .table-order-cell-content-mobile{
                                            display: flex;
                                        }
                                        table-order-cell-content-mobile div:first-child{
                                            font-size: 16px;
                                            font-weight: bol
                                        }
                                        .order-history-status-mobile{
                                            display: unset;
                                            border-radius: 20px;
                                            border: 1px solid;
                                            padding: 2px 10px 1px 10px;
                                            font-size: 12px;
                                            margin-left: 5px;
                                            font-weight: bold;
                                        }
                                        .table-order-cell:nth-child(5),.table-order-cell:nth-child(6){
                                            display :none;
                                        }
                                        .order-history-id{
                                            font-size: 1.2em;
                                            font-weight: bold;
                                        }
                                        #tab-test{
                                            cursor: pointer;
                                        }
                                        .no-orders-css{
                                            padding-left: 10px;
                                            height: 30px;
                                            padding-top: 7px;
                                        }
                                    }
                                .tab-container-order-history-container {
                    padding: 0px 30px 0px 30px;
                    position: relative;
                }

                #header .header_top .header_top_main::before {
                    float: right;
                    height: 37px;
                    overflow: hidden;
                }
                .container::after {
                    margin: 0 auto;
                    width: 1230px;
                    padding: 0;

                }

                #header .head-main {
                    float: left;
                    width: 100%;
                    background: #fd5a32;
                }
