.list-view-loading
{
	background:url(../images/loading.gif) no-repeat;
}

.list-view .summary
{
	margin: 0 0 5px 0;
	text-align: right;
}

.list-view .sorter
{
	margin: 0 0 5px 0;
	text-align: right;
}

.list-view .pager
{
	margin: 5px 0 0 0;
	text-align: right;
}

.list-view .sorter
{
	font-size: 0.9em;
}

.list-view .sorter ul
{
	display: inline;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0;
	padding:0;
}

.list-view .sorter li
{
	display: inline;
	margin: 0 0 0 5px;
	padding: 0;
}

.list-view .sorter a.asc
{
	background:url(../images/up.gif) right center no-repeat;
	padding-right: 10px;
}

.list-view .sorter a.desc
{
	background:url(../images/down.gif) right center no-repeat;
	padding-right: 10px;
}
.list-view-loading
{
	background:url(../images/loading.gif) no-repeat;
}

.list-view .summary
{
	margin: 0 0 5px 0;
	text-align: right;
}

.list-view .sorter
{
	margin: 0 0 5px 0;
	text-align: right;
}

.list-view .pager
{
	margin: 5px 0 0 0;
	text-align: right;
}

.list-view .sorter
{
	font-size: 0.9em;
}

.list-view .sorter ul
{
	display: inline;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0;
	padding:0;
}

.list-view .sorter li
{
	display: inline;
	margin: 0 0 0 5px;
	padding: 0;
}

.list-view .sorter a.asc
{
	background:url(../images/up.gif) right center no-repeat;
	padding-right: 10px;
}

.list-view .sorter a.desc
{
	background:url(../images/down.gif) right center no-repeat;
	padding-right: 10px;
}

 .tab-container-order-history-container {
                    padding: 0px 30px 0px 30px;
                    position: relative;
                }

                #header .header_top .header_top_main::before {
                    float: right;
                    height: 37px;
                    overflow: hidden;
                }
                .container::after {
                    margin: 0 auto;
                    width: 1230px;
                    padding: 0;

                }

                #header .head-main {
                    float: left;
                    width: 100%;
                    background: #fd5a32;
                }

           
                                    .my-tabslider-order{
                                        background: white;
                                    }
                                    /* end css for main template */
                                    .tab-container-order-history{
                                        background: white;
                                        margin-bottom: 10px;
                                    }
                                    .disabled-tabs-history{
                                        transform: translate3d(0px, 0, 0) !important;
                                    }
                                    .tab-history-item{
                                        text-align: center;
                                        /*height : 65px;*/
                                        padding : 10px;
                                        position: relative;
                                        cursor: pointer;
                                    }
                                    .tab-history-item:hover {
                                        color: #F7941E;
                                    }
                                    .tab-history-item-text{
                                        font-size: 14px;
                                        font-weight: bold;

                                    }
                                    .tab-history-item-number{
                                        font-size: 16px;
                                        font-weight: bold;
                                    }
                                    .tab-history-item-border{
                                        height: 75%;
                                        width: 1px;
                                        background: #e0e0e0;
                                        position: absolute;
                                        top: 10px;
                                        right: 0;
                                    }
                                    .tab-history-item-border-left{
                                        height: 75%;
                                        width: 1px;
                                        background: #e0e0e0;
                                        position: absolute;
                                        top: 10px;
                                        left: 0;
                                    }
                                    .tab-history-item-active{
                                        border-bottom: 2px solid #F7941E;
                                        color: #F7941E;
                                    }
                                    .page-title{
                                        padding: 10px;
                                    }
                                    .order-history-swiper-button-prev{
                                        position: absolute;
                                        top: 40%;
                                        left: 10px;
                                        z-index: 1;
                                        cursor: pointer;
                                    }
                                    .order-history-swiper-button-next{
                                        position: absolute;
                                        top: 40%;
                                        right: 10px;
                                        z-index: 1;
                                        cursor: pointer;
                                    }
                                    .tab-container-order-history-container{
                                        padding:0px 30px 0px 30px;
                                        position: relative;
                                    }
                           
   .tab-container-order-history-container {
    padding: 0px 30px 0px 30px;
    position: relative;
}
                                    .my-tabslider-order{
                                        background: white;
                                    }
                                    /* end css for main template */
                                    .tab-container-order-history{
                                        background: white;
                                        margin-bottom: 10px;
                                    }
                                    .disabled-tabs-history{
                                        transform: translate3d(0px, 0, 0) !important;
                                    }
                                    .tab-history-item{
                                        text-align: center;
                                        /*height : 65px;*/
                                        padding : 10px;
                                        position: relative;
                                        cursor: pointer;
                                    }
                                    .tab-history-item:hover {
                                        color: #F7941E;
                                    }
                                    .tab-history-item-text{
                                        font-size: 14px;
                                        font-weight: bold;

                                    }
                                    .tab-history-item-number{
                                        font-size: 16px;
                                        font-weight: bold;
                                    }
                                    .tab-history-item-border{
                                        height: 75%;
                                        width: 1px;
                                        background: #e0e0e0;
                                        position: absolute;
                                        top: 10px;
                                        right: 0;
                                    }
                                    .tab-history-item-border-left{
                                        height: 75%;
                                        width: 1px;
                                        background: #e0e0e0;
                                        position: absolute;
                                       
                                    }
                                    .tab-history-item-active{
                                        border-bottom: 2px solid #F7941E;
                                        color: #F7941E;
                                    }
                                    .page-title{
                                        padding: 10px;
                                    }
                                    .order-history-swiper-button-prev{
                                        position: absolute;
                                        top: 40%;
                                        left: 10px;
                                        z-index: 1;
                                        cursor: pointer;
                                    }
                                    .order-history-swiper-button-next{
                                        position: absolute;
                                        top: 40%;
                                        right: 10px;
                                        z-index: 1;
                                        cursor: pointer;
                                    }
                                    .tab-container-order-history-container{
                                        padding:0px 30px 0px 30px;
                                        position: relative;
                                    }
                                    .swiper-wrapper {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 15%;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform,-webkit-transform;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
#footer{background: #132539;
    }
#footer .footer_center .info-foot {
    float: left;
    min-height: 370px;
    padding-top: 35px;
    width: 100%;
    background: #132539;
}

                       


